<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdOpenId</key>
	<string>ca-app-pub-2226996425077631/2205731202</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2226996425077631~1084221220</string>
</dict>
</plist>
